<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Workspace Hub -- Spacetype</title>
  <link href="https://fonts.googleapis.com/css?family=Carme" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/layout.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
  <div class="container">
    <header>
      <img src="/Logo.png" alt="logo" class="logo-image" />
    </header>
    <nav>
      <p>Home</p>
      <p>Categories</p>
      <p>About Us</p>
    </nav>
    <div class="workspace-card">
      <h2 th:text="${spaceType.spaceTitle}"></h2>
      <div th:each="workspaceHub: ${spaceType.workspaceHubs}">
        <!-- <img th:src="${review.imageUrl}" alt="Picture of Restaurant"/>
					<h2>
						<a th:href="@{/review(id=${review.reviewId})}" th:text="${review.reviewTitle}"></a>
					</h2> -->
        <h3 th:text="${workspaceHub.name}"></h3>
        <!-- <p th:text="${workspaceHub.features}"></p> -->
        <p th:text="'Hours: ' + ${workspaceHub.hours.hoursTitle}"></p>
        <p th:text="'Parking: ' + ${workspaceHub.parking.parkingTitle}"></p>
        <p th:text="'Cost: ' + ${workspaceHub.cost.costTitle}"></p>
        <p th:text="'Capacity: ' + ${workspaceHub.capacity.capacityTitle}"></p>
      </div>
    </div>

    <footer>
  		<p>Copyright 2017</p>
  		<div class="contact-stuff">
  		<!-- 	<a href=""><img src="" alt="facebook"></a>
  			<a href=""><img src="" alt="twitter"></a>
  			<a href=""><img src="" alt="email"></a> -->
  		</div>
  	</footer>
  </div>
</body>

</html>
